{% extends 'base.html' %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Listado</h1>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" href="{% url 'estacionamiento_add' %}" role="button">Agregar</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Distrito</th>
                <th>Provincia</th>
                <th>Departamento</th>
                <th>País</th>
                <th>Costo</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for c in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ c.nombre }}</td>
                    <td>{{ c.direccion }}</td>
                    <td>{{ c.telefono }}</td>
                    <td>{{ c.distrito }}</td>
                    <td>{{ c.provincia }}</td>
                    <td>{{ c.departamento }}</td>
                    <td>{{ c.pais }}</td>
                    <td>{{ c.costo }}</td>
                    <td>{{ c.latitud }}</td>
                    <td>{{ c.longitud }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'distrito_edit' c.id %}" role="button">Edit</a>
                        <a class="btn btn-danger" href="{% url 'distrito_delete' c.id %}" role="button">Delete</a>
                        <a class="btn btn-info" href="{% url 'distrito_detail' c.id %}" role="button">Detail</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}